body, html{
    margin: 0;
    height: 100%;
}

.bg {
  /* The image used */
  background-image: url("img/bg.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
  margin-top: 1vw;
  height: 10vw;
}

nav {
    display: flex;
}
  
ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 auto;
}
  
li {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}
  
a {
    text-decoration: none;
    color: white;
    padding: 0px 5px 0px 5px;
    font-size: 3em
}

#myDropdown {
  display: none;
}

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #ff0000;
  padding: 5px;
  text-decoration: none;
  font-size: 2rem;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}

.item--2{
  flex-grow: 1;
}

.rWhite{
    border-right: 2px solid;
    border-right-color: white;
}

.item h1{
  text-align: center;
  font-size: 4rem;
  color: white;
  text-shadow: 0 -20px black;
}

.tLine{
    display: flex;
    justify-content: center;
}

.bgContent{
    width: 90vw;
    height: 21vw;
    background-color: rgba(0, 0, 0, 0.800);
  }

.contentHeader{
  display: flex;
}

.contentHeader img{
    height: 20vw;
    width: 40vw;
    margin: 15px;
 }

.textBox{
  background-color: rgba(255, 255, 255, 0.700);
  height: 20vw;
  margin: 15px;
}

.textBox p{
  padding: 5px;
  font-size: 1.4rem;
}

/* Media Query for 1440px Large Laptop*/
@media (max-width: 1440px){
  ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 auto;
}
  a {
    text-decoration: none;
    color: white;
    padding: 0px 5px 0px 5px;
    font-size: 2rem;
  }
    .bgContent{
    width: 70vw;
    height: 40vw;
    background-color: rgba(0, 0, 0, 0.800);
  }
  
  .textBox{
    background-color: #fff;
    width: 60vw;
    height: 35vw;
    margin: 15px;
  }

  .textBox p {
    margin: 0;
    font-size: 15px;
  }

  .contentHeader img{
    height: 25vw;
    width: 20vw;
    margin: 15px;
 }
}
/* Media query for 1024px (Small Laptop)*/
@media (max-width: 1024px){

  a {
    font-size: 1.5rem;
  }
    .bgContent{
    width: 70vw;
    height: 70vw;
    background-color: rgba(0, 0, 0, 0.800);
  }
  
  .textBox{
    background-color: #fff;
    width: 60vw;
    height: 65vw;
  }

  .textBox p {
    font-size: 15px;
  }

  .contentHeader img{
    height: 25vw;
    width: 20vw;
 }
}

/* Media Query for 768px Tablet*/
@media (max-width: 768px){
  a {
    font-size: 2rem;
  }
    .bgContent{
    width: 90vw;
    height: 80vw;
    background-color: rgba(0, 0, 0, 0.800);
  }
  
  .textBox{
    background-color: #fff;
    width: 60vw;
    height: 70vw;
  }

  .textBox p {
    font-size: 14px;
  }

  .contentHeader img{
    height: 25vw;
    width: 20vw;
 }

 .dropdown-content{
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
 }
}

@media (max-width: 425px){
  a {
    font-size: 2rem;
  }
    .bgContent{
    width: 90vw;
    height: 180vw;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.800);
  }
  
  .textBox{
    background-color: #fff;
    width: 60vw;
    height: 160vw;
  }

  .textBox p {
    font-size: 11.5px;
  }

  .contentHeader img{
    height: 25vw;
    width: 20vw;
 }

 .dropdown-content{
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
 }
}